In [15]:
import os, ast, sqlite3
import pandas as pd

In [16]:
os.listdir('../')

['access.json',
 'Analysis',
 'db.sqlite3',
 'manage.py',
 'README.md',
 'Routes',
 'Server',
 'Tables',
 'Utils']

In [17]:
conn = sqlite3.connect('../db.sqlite3')
cursor = conn.cursor()

In [18]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [row[0] for row in cursor.fetchall()]
tables

['django_migrations',
 'sqlite_sequence',
 'auth_group_permissions',
 'auth_user_groups',
 'auth_user_user_permissions',
 'django_admin_log',
 'django_content_type',
 'auth_permission',
 'auth_group',
 'auth_user',
 'django_session',
 'Logs_log']

In [19]:
table = 'Logs_log'
df = pd.read_sql_query(f'SELECT * FROM {table}', conn)
df

,id,esp_id,data,date
0,816,5CA7E06062E,"{""temperature"": 25, ""humidity"": 60}",2025-07-09 23:26:26.475218
1,817,5CA7E06062E,"{""temperature"": 25, ""humidity"": 60}",2025-07-09 23:26:28.122416
2,818,5CA7E06062E,"{""temperature"": 25, ""humidity"": 60}",2025-07-09 23:26:28.762596
3,819,5CA7E06062E,"{""temperature"": 25, ""humidity"": 60}",2025-07-09 23:26:29.283458
4,820,5CA7E06062E,"{""temperature"": 24, ""humidity"": 61}",2025-07-09 23:27:26.442896
...,...,...,...,...
251,1067,08AB29DB511,"{""temperature"": 0, ""humidity"": 0, ""message"": ""...",2025-07-14 22:04:19.851491
252,1068,08AB29DB511,"{""temperature"": 0, ""humidity"": 0, ""message"": ""...",2025-07-14 22:04:20.274410
253,1069,08AB29DB511,"{""temperature"": 0, ""humidity"": 0, ""message"": ""...",2025-07-14 22:04:20.840071
254,1070,08AB29DB511,"{""temperature"": 0, ""humidity"": 0, ""message"": ""...",2025-07-14 22:04:21.244823
255,1071,08AB29DB511,"{""temperature"": 0, ""humidity"": 0, ""message"": ""...",2025-07-14 22:06:05.024023

In [20]:
df['data'] = df.data.apply(ast.literal_eval)
df

,id,esp_id,data,date
0,816,5CA7E06062E,"{'temperature': 25, 'humidity': 60}",2025-07-09 23:26:26.475218
1,817,5CA7E06062E,"{'temperature': 25, 'humidity': 60}",2025-07-09 23:26:28.122416
2,818,5CA7E06062E,"{'temperature': 25, 'humidity': 60}",2025-07-09 23:26:28.762596
3,819,5CA7E06062E,"{'temperature': 25, 'humidity': 60}",2025-07-09 23:26:29.283458
4,820,5CA7E06062E,"{'temperature': 24, 'humidity': 61}",2025-07-09 23:27:26.442896
...,...,...,...,...
251,1067,08AB29DB511,"{'temperature': 0, 'humidity': 0, 'message': '...",2025-07-14 22:04:19.851491
252,1068,08AB29DB511,"{'temperature': 0, 'humidity': 0, 'message': '...",2025-07-14 22:04:20.274410
253,1069,08AB29DB511,"{'temperature': 0, 'humidity': 0, 'message': '...",2025-07-14 22:04:20.840071
254,1070,08AB29DB511,"{'temperature': 0, 'humidity': 0, 'message': '...",2025-07-14 22:04:21.244823
255,1071,08AB29DB511,"{'temperature': 0, 'humidity': 0, 'message': '...",2025-07-14 22:06:05.024023

In [22]:
temps = [data['temperature'] for data in df.data]
temps

[25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]